<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tollboothfunctions-5s6zgvftsdpru.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/a170f6f2-9fcc-4ebd-9677-840fe697fd1e/resourceGroups/hands-on-lab-hch/providers/Microsoft.Web/sites/TollBoothFunctions-5s6zgvftsdpru</ResourceId>
    <UserName>$TollBoothFunctions-5s6zgvftsdpru</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://tollboothfunctions-5s6zgvftsdpru.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>